/*
<div class="global" id="epreuve">
  <section class="epreuve__centre">
    <h2>TP2</h2>
    <article class="epreuve__article">
      <!--  Conteneur de chacune des images paragraphe -->
      <section class="epreuve__section">
        <figure class="epreuve__figure">
          <img src="images/noel_00.jpg" alt="" class="epreuve__img">
          <figcaption class="epreuve__figcaption">Joyeuse fête de Noël</figcaption>
        </figure>
        <p class="epreuve__paragraphe">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum accusantium veritatis porro vel sit reprehenderit nam quis? Cupiditate, quos esse? Sint nam repellat tempora quos sequi vero dolores expedita quae.</p>
      </section>
*/

#epreuve {

    background-image: linear-gradient(90deg, rgba(187, 42, 42, 0.2),#eac7c733) , url(../images/arriere-brique.png);
}
/*
#epreuve::after{
    content : "";
    position: absolute;
    width : 100%;
    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    opacity: 0; 
    background-color: rgba(235, 118, 118, 0.5);
}
*/


.epreuve__centre {
    display: flex;
    flex-direction: column;
     background-image: linear-gradient(90deg, rgba(255,0,0,.5), rgba(255,100,0,.5));
}

.epreuve__article {
      display: flex;
    flex-direction: column;
}

.epreuve__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
    padding: 5%;
    border-bottom : 20px dotted rgb(122, 14, 14,.5);
}

/* rotation des images */
.epreuve__section:nth-of-type(even) .epreuve__figure {
  transform : rotate(5deg);
}
.epreuve__section:nth-of-type(odd) .epreuve__figure {
  transform : rotate(-5deg);
}

.epreuve__section:nth-of-type(odd) .epreuve__figure {
  order : 10;
}





.epreuve__figure {
    flex: 1 0 200px;
    margin: 10px;
    
}

.epreuve__img {
  width : 100%;
  border-radius: 20px;
  box-shadow: 9px 8px 24px #000;
}

.epreuve__figcaption {
  font-family : Satisfy , arial;
  font-size: clamp(0.8125rem, 0.2054rem + 2.4286vw, 1.875rem);
  text-align: center;
  padding: 10px;
  font-weight: bold;
}


.epreuve__paragraphe {
    flex: 3 1 300px;
    font-family : Satisfy , arial;
    font-size: clamp(1.5rem, 0.1429rem + 3.4286vw, 2.5rem);
}



