
/* --------------------------------------- initialisation */
*{
    margin:0;
    padding:0;
}

html {
    box-sizing: border-box;
     }
    *,
    *:before,
    *:after {
    box-sizing: inherit;
     }
/* ------------------------------------------ */     
body {
    display : flex;
    /* on défini la direction de l'axe proncipal comme étant vertical */
    flex-direction: column;
   /* width: 100vw;*/
}

/* les conteneurs  div autour de chaque section */
.global {
   display: flex;
   justify-content: center;
   /* align-items: center;*/ 
   min-width: 100%;
   /* border: 1px solid #aaa; */
   min-height : 100vh;
}

.global > section,
.global > header,
.global > footer {
    display : flex;
    flex: 0 1 1100px;
   /* border: 1px solid #aaa; */
   /* rendre la couleur plus foncé, ajoute du noir */
   /* background-color: rgba(0,0,0, .1) ;*/

    background-color: rgba(255,255,255, .5) ;
    padding : 20px;
}
.global > section,
.global > footer {
    flex-direction : column;
}





#accueil {
    background-color: aquamarine;
}

#inscription {
    background-color: rgb(234, 255, 127);
}

h1 {
    /* font-size: clamp(2.25rem, -0.0417rem + 7.3333vw, 5rem); */
    font-size: clamp(2.5rem, 0.7143rem + 7.1429vw, 5.625rem);
    font-family: 'Luckiest Guy', arial;
    color : rgba(0,0,0,.5);
}



h2{
    font-size: clamp(2rem, 0.0833rem + 5.3333vw, 5rem);
    margin-top : 25vh;
    font-family : "Titan One", arial;
    color : rgba(0,0,0,.5);
    padding : 5%;
}




